# ***Operadores de Comparação***

Operadores responsáveis por retornar valores como 'True' e 'False' ao compararmos dois tipos de informação.

----------------------------------------------------------------------------------------------------

## Seus tipos:

# ***==***

*igual a*

Quando quisermos saber se um dado é **IGUAL** ao o outro, utilizamos == entre eles

In [2]:
n1 = 8
n2 = 8

n1 == n2

True

In [1]:
n1 = 8
n2 = 10

n1 == n2

False

In [7]:
n3 = 4
n4 = 4.0

n3 == n4 # 'True', embora sejam tipos de dados diferentes (int e float), o interpretador entende que é o MESMO VALOR.

True

In [10]:
n5 = "4"

n4 == n5 # 'False', os dados são de tipos diferentes (int e str), o interpretador sabe que eles NÃO POSSUEM O MESMO VALOR, já que "4" é um caractere para o Python então não há valor numérico para ele

False

----------------------------------------------------------------------------------------------------

# ***!=***

*diferente de*

Quando quisermos saber se um dado é **DIFERENE** de outro, utilizamos != entre eles

In [4]:
n1 = 8
n2 = 8

n1 != n2

False

In [3]:
n1 = 8
n2 = 10

n1 != n2

True

----------------------------------------------------------------------------------------------------

# ***>*** 

*Maior que*

Quando quisermos saber se um dado é **MAIOR QUE** o outro, utilizamos > entre eles

In [ ]:
5 > 3

True

In [12]:
10 > 50

False

In [13]:
5 > 5

False

----------------------------------------------------------------------------------------------------

# ***<*** 

*Menor que*

Quando quisermos saber se um dado é **MENOR QUE** o outro, utilizamos < entre eles

In [14]:
5 < 10

True

In [15]:
10 < 8

False

In [16]:
10 < 10

False

----------------------------------------------------------------------------------------------------

# ***<= e >=*** 

*Menor ou igual a* e *Maior ou igual a*

Quando quisermos saber se um dado é **MENOR OU IGUAL A**, utilizamos <=.

Quando quisermos saber se um dado é **MAIOR OU IGUAL A**, utilizamos >=.

In [ ]:
5 <= 6

True

In [19]:
5 <= 5

True

In [22]:
5 <= 4

False

In [20]:
6 >= 5

True

In [21]:
6 >= 6

True

In [23]:
6 >= 7

False